@font-face {
    font-family: 'ageorange';
    src: url('Fonts/AGENTORANGE.TTF'); 
  }

  @font-face {
    font-family: '1982'; 
    src: url('Fonts/back-to-1982.regular.ttf'); 
  }

body{
    background: radial-gradient(circle, white, turquoise);
    margin: 0 auto;
    overflow: hidden;
}

.title{
    position: absolute;
    border-width: 3px;
    text-align: center;
    width: 90vw;
    left: 5%;
    top: 1%;
    height: 45vh;
    z-index: 1;
}

.title-text{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    align-items: center;
    text-align: center;
    animation: titleanimate 2s ease-in-out infinite;
}

.title-text > h1{
    font-family: '1982';
    font-size: 300%;
    color: blue;
    
}

.title-text > h2{
    font-family: 'ageorange';
    color: blue;
}

@keyframes titleanimate {
    0%,100%
    {
        transform: translateY(-20px);
    }
    50%
    {
        transform: translateY(50px);
    }
}

/* --------FISH STLYING------- */

/* GOLDFISH */
.all-sprites{
    height: 90vh;
    z-index: -1;
}

.fish{
    position: absolute;
    width: 60px;
    height: 33px;
    background: radial-gradient(circle, #ffde4a, #fcac0f);
    border-radius: 50%;
    margin: 50px auto;
    left: 50vw;
}

.fin{
    width: 16px;
    height: 13px;
    background: linear-gradient(to right top, #ffae00, #ffde4a);
    border-radius: 33px 0 13px 0;
    position: absolute;
    top: -8px;
    left: 22px;
    z-index: -1
}

.eye{
    width: 5px;
    height: 5px;
    border-radius: 16.6px;
    background: #000;
    position: absolute;
    top: 10px;
    left: 8.3px;
}

.m{
    width: 2px;
    height: 2px;
    border-radius: 16.66px;
    background: #fff;
    margin: 1px;
}

.mouth{
    width: 5px;
    border-bottom: 0.666px solid #d47100;
    border-radius: 0 0 6.666px 6.666px;
    position: absolute;
    top: 18.33px;
    left: 0px;
}

.g{
    position: absolute;
    top: 5px;
    left: 0;
    width: 23.33px;
    height: 23.33px;
    border-radius: 16.66px;
    border-right: 0.333px solid #ffde4a;
    filter: drop-shadow(0.666px 0px 0.666px #d47100);
}

.t1{
    width: 20px;
    height: 23.33px;
    background: linear-gradient(to right top, #ffae00, #ffae00,#ffae00, #ffde4a);
    border-radius: 33.33px 0 26.666px 0;
    position: absolute;
    top: 0;
    right: -11.66px;
    z-index: -1;
    animation: animal 2s infinite;
    transform-origin: left bottom;
}

.t2{
    width: 20px;
    height: 23.33px;
    background: linear-gradient(to right bottom, #ffae00, #ffae00,#ffae00, #ffde4a);
    border-top-right-radius: 33.33px;
    border-bottom-left-radius: 26.66px;
    position: absolute;
    bottom: 0;
    right: -11.66px;
    z-index: -1;
    animation: animal_two 2s infinite;
    transform-origin: left top;
}

@keyframes animal {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(30deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyframes animal_two {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(30deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

#gold-fish{
    animation-delay: 2s;
}


/* RED SNAPPER */
#red-fish{
    width: 60px;
    height: 50px;
    background: radial-gradient(circle, #fcac0f,#ff3c00);
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
    animation-delay: 1s;
}

#red-fin{
    background: linear-gradient(to right top, #ff3c00, #fcac0f);
}

#red-gill{
    border-right: 0.333px solid #fcac0f;
    filter: drop-shadow(0.666px 0px 0.666px #ff3c00);
}

#red-tail{
    background: linear-gradient(to right top, #ff3c00, #ff3c00,#ff3c00, #fcac0f);
}


/* KRILL */
#krill-fish{
    width: 85px;
    height: 30px;
    background: radial-gradient(circle, #95f6f9,#009dff);
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
}

#krill-fin{
    background: linear-gradient(to right top, #009dff, #95f6f9);
    left: 35px;
}

#krill-gill{
    border-right: 0.333px solid #95f6f9;
    filter: drop-shadow(0.666px 0px 0.666px #009dff);
}

#krill-tail{
    background: linear-gradient(to right top, #009dff, #009dff,#009dff, #95f6f9);
}

.river-bed{
    bottom: 0;
}

.back-images{
    width: 100%;
    bottom: 0;
    position: fixed;
}

/* PLAYER SPRITE*/
.player-sprite, .piranha-sprite{
    position: absolute;
    height: 12%;
    width: 20%;
    top: 0;
    left: 0;
}

.player-sprite > img{
    width: 100%;
    height: 100%;
    
}

.mouth-contact, .piranha-contact{
    left: 87%;
    width: 10%;
    height: 18%;
    top: 44%;
    position: absolute;
   
}
.player-sprite{
    display: none;
}

.image-container{
    height: 100%;
}
/* PIRANHA */
.piranha-sprite > img, .fish-images > img{
    width: 100%;
    height: 100%;
}

.piranha-sprite{
    z-index: 1;
}

.piranha-contact{
    height: 40%;
}


#first-piranha{
    animation: piranha-one 5s ease-in-out infinite;
    display: none;
}


#second-piranha{
    animation: piranha-two 5s ease-in-out infinite;
    display: none;
}

#pir-one-contact{
    left: 89%;
    top: 30%;
}

#pir-two-contact{
    left: 0;
}


/* -------MODAL STYLING-------*/

#modal, #selection, .next-level, #back {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
    flex-direction: column;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow: auto;
	display: none;
   
}

#modal-textbox, #select-fish, #next-level-text, #back{
	overflow: auto;
    background-color: white;
    letter-spacing: 1px;
    word-spacing: 5px;
	height: 60%;
	width: 60%;
	border-radius: 2px;
    font-family: 'ArcadeClassic', sans-serif;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 5%;
	line-height: 120%;
    border-radius: 1vh;
    background-color: #b7ede8;
    animation: 2s fade-in-up ease-out;
}

#modal-footer {
	text-align: right;
}

.modal-buttons, #openModal, #back{
	margin: 0 auto;
    padding: 8px 18px;
	background-color:  blue;
    height: 3vh;
	border: none;
	border-radius: 3px;
	color: white;
	font-family: '1982';
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#openModal{
    position: fixed;
    top: 50%;
    left: 35%;
    height: 10%;
    width: 30%;
    justify-content: space-around;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    font-size: 3vh;
}

.modal-buttons:hover, #openModal:hover, #back:hover {
    cursor: pointer;
    background: blueviolet;
}

#button, #back{
    font-family: '1982';
}

.next-level{
    display: none;
}

#next-level-text{
    width: 30vw;
    height: 30vh;
    color:aliceblue;
    font-family: '1982';
    background-image: url('images/istockphoto-1152237432-612x612.jpg');
}

#next-level-text:hover {
    opacity: 0.91;
    background-color: blue;
    cursor: pointer;
}

#next-level-text > h3 {
    position: relative;
    animation-delay: 3s;
    animation: 4s fade-in-up ease-out;
    text-align: center;
    line-height: 50px;
}

#back{
    position: absolute;
    display: block;
    left: 57vw;
    width: 7vw;
    height: 3vh;
    top: 69vh;
}

#explanation{
    border: solid black;
    border-width: 2px;
    position: relative;
    top: 0.5vh;
    left: 47vw;
    width: 16vw;
    height: 60vh;
}


#explanation > h3{
    position: relative;
    left: 1vw;
    line-height: 250%;
    animation: fade-in-up 2s linear infinite;
}

#explanation > h3:nth-child(2){
    color: rgb(117, 115, 115);
}

#explanation > h3:nth-child(3){
    color: rgb(163, 161, 161);
}

#explanation > h3:nth-child(4){
    color: rgb(206, 205, 205);
}

/* arrow key styling */
.arrows{
    top: 100px;
    height: 150px;
}

.arrow{
    width: 30px;
    height: 30px;
    border: none;
    padding: 21px 25px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    color: white;
    border-radius: 15px;
    box-shadow: 0 15px #999;
    animation: top-key linear 0.5s;
    background-image: linear-gradient(to right, black , gray, black);
    
  }
  
  #arrowup{
    position: relative;
    bottom: 3px;
    /* animation: top-key linear 0.5s; */
    animation-delay: 1s;
  }
  
  #arrowleft{
    position: relative;
    right: 83px;
    animation-delay: 2s;
    
  }
  #arrowdown{
    position: relative;
    bottom: 70px;
    animation-delay: 3s;
  }
  #arrowright{
    position: relative;
    bottom: 140px;
    left: 83px;
    animation-delay: 4s;
  }
  

/* -------PLAYER SELECTION -------*/

#selection{
    display: none;
}

#select-fish{
    position: absolute;
    left: 15vw;
}


.fish-images{
    position: absolute;
    border: solid black;
    height: 20vh;
    left: 20vw;
    width: 30vw;
    border-radius: 1vh;
    background-color: white;
    font-family: 'ageorange';
   
}

.display-stats{
    position: absolute;
    border-bottom: solid black;
    border-top: solid black;
    top: 2vh;
    width: 10vw;
    left: 2vw;
    height: 14vh;
    padding-bottom: 10px;

}

.display-stats > h2{
    line-height: 25px;
    color: blue;
}

#trout-magic{
    border-width: 0.5vh;
    background-image: url('images/istockphoto-1152237432-612x612.jpg');
    top: 7.3vh;
}

#dogfish-darcy{
    top: 29vh;
    border-width: 0.5vh;
    background-image: url('images/istockphoto-1152237432-612x612.jpg');
}

#silly-salmon{
    top: 51vh;
    border-width: 0.5vh;
    background-image: url('images/istockphoto-1152237432-612x612.jpg');
}

#dogfish-stats{
    top: 29vh;
    left: 3vw;
    width: 15vw;
    display: none;
}

#salmon-stats{
    top: 51vh;
    left: 3vw;
    width: 15vw;
    display: none;
}

#trout-stats{
    top: 7.3vh;
    left: 3vw;
    width: 15vw;
    display: none;
}

#text{
    height: 3.5vh;
    position: absolute;
    border-bottom: solid blue;
    top: 3vh;
    left: 23vw;
    font-family: '1982';
    font-size: 3vh;
    color: blue;
}

#dogfish-darcy:hover + #dogfish-stats, #silly-salmon:hover + #salmon-stats, #trout-magic:hover + #trout-stats{
    cursor: pointer;
    display: block;
    animation: 1s fade-in-up ease-out;
}


/*--------- STAT STYLING ---------*/

.stat-panel, .message-panel{
    position: fixed;
    bottom: 0px;
    background-color: antiquewhite;
    opacity: .7;
    width: 100vw;
    height: 8vh;
    font-family: 'ageorange';
  }
  
.message-panel{
    position: fixed;
    top: 0;
    background-color: antiquewhite;
    opacity: .5;
    width: 100vw;
    height: 8vh;
  }

.fish-hull, .fish-eaten, .fish-name, .current-level, .live-message{
    top: 3vh;
    width: 10vw;
    position: absolute;
}

.current-level{
    left: 3vw;
}

.fish-eaten{
    left: 25vw;
    width: 20vw;
}

.fish-hull{
    left: 55vw;
    width: 12vw;
}

.fish-name{
    left: 75vw;
    width: 20vw;
}

.stat-container{
    display: none;
}

.message-panel{
    display: none;
} 


/* --------MESSAGE BAR STYLING-------- */

.live-message{
    top: 1vh;
    left: 20vw;
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}

.live-message > h3{
    animation: text-scroll 8s infinite;
    color: blue;
}

#modal-textbox > h1{
    font-family: '1982';
}

#modal-textbox > p {
    font-family: 'ageorange';
}


  
@keyframes top-key{
    0%{
      box-shadow: 0 15px #999;
    }
    100%{
      box-shadow: 0 10px #666;
      transform: translateY(2px);
    }
  }


@keyframes sprite-animation {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(10deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyframes sprite-hit {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



@keyframes fishmove {
    
    0%
    {
        transform: translateX(0);
    }

    100%
    {
        transform: translateX(-2000px);
    }
    
}



@keyframes piranha-one {
    0%
    {
        transform: translateX(600px);
    }
    50%
    {
        transform: translateY(800px);
    }

    100%
    {
        transform: translateX(600px);
    }
  }



 @keyframes piranha-two {
    0%
    {   
        left: 100%;
        transform: translateY(1000px);
    }

    50%
    {
        transform: translateX(-600px);
    }

    100%
    {
        transform: translateY(-300px);
    }
  }

  @keyframes text-scroll {
    0%
    { 
        transform: translateX(30%); 
    }
    50% { 
        transform: translateX(-30%); 
    }
    100% { 
        transform: translateX(30%); 
    }

  }



/* lineup class and keyframes */
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

@keyframes fade-to-white {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
